<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/db20acee-4d9c-45a7-9487-167634da3dc1/resourceGroups/myResourceGroup/providers/Microsoft.Web/sites/Group2Week1120230414192503</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/db20acee-4d9c-45a7-9487-167634da3dc1/resourceGroups/myResourceGroup/providers/Microsoft.ApiManagement/service/Group2Week11api/apis/Group2Week11</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://group2week1120230414192503.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>bc0a64ea-f4ec-4f63-8cef-ea21a61c41bb</ProjectGuid>
    <MSDeployServiceURL>group2week1120230414192503.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Group2Week1120230414192503</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Group2Week1120230414192503</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>